<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indiabana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Indiabana">
        <activity android:name=".Activities.PotentialAlliancesItemActivity"></activity>
        <activity android:name=".Activities.AllianceRequestActivityTemp" />
        <activity android:name=".Activities.AllianceRequestActivity" />
        <activity android:name=".Activities.CartActivity" />
        <activity android:name=".Activities.TestLayoutActivity" />
        <activity android:name=".Activities.PasswordRecoveryActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.AddProduct.AddProductActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.AddProduct.AddProductPriceActivity" />
        <activity android:name=".Activities.AddProduct.AddProductAmountActivity" />
        <activity android:name=".Activities.AddProduct.AddProductShippingActivity" />
    </application>

</manifest>